
<p-toast></p-toast>
<p-button (click)="showDialog()" icon="pi pi-check" label="Cadastrar Review"></p-button>
<p-dialog header="Cadastro de Review" [visible]="visible" [modal]="true" [style]="{width: '70vw'}" [draggable]="false" [resizable]="false" *ngIf="newReview">
  <section class="flex flex-col gap-2">
    <label for="title" class="font-semibold">Título</label>
    <input [(ngModel)]="newReview.title" type="text" pInputText id="title" placeholder="O melhor óculos que já comprei na vida!">
    <label for="product" class="font-semibold">Nome do Produto</label>
    <input [(ngModel)]="newReview.product_name" type="text" pInputText id="product" placeholder="Óculos de Sol Rayban">
    <small class="text-gray-500">Seja o mais específico possível em relação ao produto com nome e marca, utilizaremos essa informação para agrupar as avaliações.</small>
    <label for="price" class="semibold">Preço do Produto</label>
    <p-inputNumber [(ngModel)]="newReview.product_price" id="price" mode="currency" locale="pt" currency="BRL" placeholder="R$ 0,00"></p-inputNumber>
    <label for="product_image" class="font-semibold">Imagem do Produto</label>
    <div>
      <p-fileUpload mode="basic" id="product_image" chooseLabel="Selecione" name="myfile[]" url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*" [customUpload]="true" [auto]="false" (onSelect)="onUpload($event)"></p-fileUpload>
    </div>
    <label for="description" class="font-semibold">Descrição</label>
    <textarea [(ngModel)]="newReview.description" pInputTextarea id="description" placeholder="Escreva aqui sua experiência com o produto" rows="5"></textarea>
    <p class="text-center m-0 p-0 font-semibold">Avaliação</p>
    <div class="flex justify-around align-middle">
      <div class="text-center">
        <label>Custo x Benefício</label>
        <div>
          <p-rating [(ngModel)]="newReview.rating_cxb" [stars]="5" [cancel]="false"></p-rating>
        </div>
      </div>
      <div class="text-center">
        <label>Qualidade do Produto</label>
        <div>
          <p-rating [(ngModel)]="newReview.rating_quality" [stars]="5" [cancel]="false"></p-rating>
        </div>
      </div>
      <div class="text-center">
        <label>Preço do Produto</label>
        <div>
          <p-rating [(ngModel)]="newReview.rating_price" [stars]="5" [cancel]="false"></p-rating>
        </div>
      </div>
    </div>
  </section>
  <ng-template pTemplate="footer">
    <button pButton type="button" label="Cancelar" class="p-button-secondary" (click)="hideDialog()"></button>
    <button pButton type="button" label="Cadastrar" (click)="addReview()"></button>
  </ng-template>
</p-dialog>
